* {
    box-sizing: border-box;
}

nav,
h1,
h2,
h3,
header,
footer,
nav,
article,
{
    padding: 0;
    margin: 0;
}

.page-header {
    background: white;
    text-align: center;
}

.statement {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

img {
    width: 90%;
}

.footer h1 {
    font-size: 30px;
    text-align: center;
}

body {
    padding-top: 50px;
}
