
* {
    box-sizing: border-box;
}


/*基本的標籤 margin padding reset*/
nav,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
body,
p,
p1,
p2,
div,
header,
footer,
aside,
section,
article {
    padding: 0;
    margin: 0;
}


/*藍色超連結統一樣式*/

#link {
    width: 160px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    background: #3a3aef;
    color:white;
}


